/******************************** Global Configuration ********************************/

* {
    box-sizing: border-box;
    word-break: break-word;
   
    --blue: #52B6FF;
    --nightblue: #126BA5;
    --green: #8FC549;
    --grey: #666666;
}

body {
    background-color: #FFFFFF;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}